<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chris.tiantian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".application.BaseApplication"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="任意字符"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".IndexActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme_Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".module.tiantian.TiantianDetailActivity"/>

        <!--<service android:name=".module.main.PolicyMonitorService" android:priority="1000" />-->
    </application>

</manifest>